---
  swagger: "2.0"
  info:
    title: SkillBrander API
    description: SkillBrander Service Definition
    termsOfService: http://skillbrander.com/terms/
    contact:
      name: API Support
      url: http://www.skillbrander.com/api
      email: api@skillbrander.com
  host: "www.skillbrander.com"
  basepath: "api/v1"
  schemes:
    - "http"
  consumes:
    - "application/json"
  produces:
    - "application/json"
  paths:
    /signup/subscribe:
      post:
        description: "Starts signup subscription process"
        operationId: "signupSubscribe"
        produces:
          - "application/json"
        parameters:
          -
            name: "firstname"
            in: "body"
            description: "First name of user"
            required: true
          -
            name: "lastname"
            in: "body"
            description: "Last name of user"
            required: true
          -
            name: "email"
            in: "body"
            description: "Email address of user"
            required: true
        responses:
          "200":
            description: "subscribe response"
            schema: "#/definitions/SubscribeResponse"
          "default":
            description: "unexpected error"
    /signup/unsubscribe:
      post:
        description: "Starts signup unsubscription process"
        operationId: "signupUnsubscribe"
        produces:
          - "application/json"
        parameters:
          -
            name: "email"
            in: "body"
            description: "Email address of user"
            required: true
        responses:
          "200":
            description: "unsubscribe response"
            schema: "#/definitions/UnsubscribeResponse"
          "default":
            description: "unexpected error"
    /signup/confirm:
      post:
        description: "Confirm signup process"
        operationId: "signupConfirm"
        produces:
          - "application/json"
        parameters:
          -
            name: "token"
            in: "body"
            description: "Signup confirmation token"
            required: true
        responses:
          "200":
            description: "confirmation response"
            schema: "#/definitions/ConfirmResponse"
          "default":
            description: "unexpected error"
